* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(17, 42, 70, 0.5);
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

/* Landing Page */
.header {
  height: 100vh;
  position: relative;

  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(img/backgroundimage.webp);
  background-size: cover;
  color: #fff;
}

.logo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: absolute;
  transform: translate(100%, -20%);
}

.main-nav {
  margin-top: 1rem;
  margin-left: 57rem;
  text-align: right;
  padding-top: 30px;
  padding-bottom: 20px;
}

.main-nav-list {
  list-style-type: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #000;
}

nav ul li {
  display: inline-block;
  margin-right: 45px;
}

a {
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

h1 {
  font-size: 60px;
  margin: 25px 65px;
}

.col-2 {
  margin-left: 4rem;
  margin-top: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-115%, -50%);
}

.col-2 h2 {
  font-size: 50px;
  line-height: 1.05;
  margin: 25px 0;
  color: #fff;
  text-align: left;
}

.btn:link,
.btn:visited {
  background-color: #343a40;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;

  display: inline-block;
  border-radius: 100px;
  transition: background 0.5s;
}

.btn:hover,
.btn:active {
  background: #2a2e33;
}

.btn--big {
  font-size: 18px;
  padding: 16px 32px;
}

.btn--small {
  font-size: 14px;
  padding: 8px 12px;
}

.navigation {
  display: flex;
  align-items: center;
}

/*****************************/
/* Featured in Section */
/*****************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.container {
  max-width: 120rem;
  margin: 0 5.4rem;
  padding: 0 3.2rem;
}

.heading-featured-in {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.6rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 1.6rem;
  filter: brightness(0);
  opacity: 50%;
}

/*****************************/
/* How it works Section */
/*****************************/

.section-how {
  padding: 7.2rem 0;
}

.step-number {
  font-size: 5rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.4rem;
  line-height: 1.4;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */

  /* 60% of Parent's width */
  padding-bottom: 60%;

  background-color: #a4a8ab;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #808589;
  z-index: -1;
}

.step-img {
  width: 35%;
  /* z-index: 10; */
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  color: #b52626;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-secondary {
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 8.4rem;
}

.heading-tertiary {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--center-v {
  align-items: center;
}

/* FEATURED & LATEST PROJECTS */

strong {
  color: #000;
}

.project-detail {
  list-style: none;
  margin-bottom: 48px;
}

.project-detail li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  margin-top: 12px;
  margin-left: 30px;
}

.project-detail li:last-child {
  margin-bottom: 0;
}

.project-icon {
  color: #b52626;
  height: 24px;
  width: 24px;
}

.project {
  padding-bottom: 24px;
}

.project-photo {
  overflow: hidden;
}

.project-photo img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.project-photo img:hover {
  transform: scale(1.1);
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
}

.title {
  text-align: center;
  margin: 0 auto 60px;
  line-height: 60px;
  color: #b52626;
  position: relative;
}

.title::after {
  content: "";
  background: #000;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.col-3 {
  display: inline-block;
  flex-basis: 30%;
  min-width: 100px;
  margin-bottom: 30px;
  margin-left: 54px;
  margin-right: 30px;
}

.col-3 img {
  width: 279px;
  height: 279px;
  border-radius: 15px;
}

.col-4 {
  display: inline-block;
  margin-left: 50px;
  margin-right: 30px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 24px;
  color: #b52626;
}

.small-container {
  margin-bottom: 20px;
  margin-top: 100px;
}

.small-container .col-4 {
  text-align: center;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  cursor: pointer;
  transition: transform 0.5s;
  border-radius: 15px;
}

.small-container .col-4 img {
  width: 215px;
  height: 215px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.small-container .col-4:hover {
  transform: translateY(-15px);
}

.big-container {
  margin-top: 150px;
}

.big-container .col-5 {
  text-align: center;
  cursor: pointer;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 15px;
}

.big-container .col-5 img {
  width: 215px;
  height: 215px;
  margin-top: 40px;
}

.col-5 {
  display: inline-block;
  margin-left: 50px;
  margin-right: 30px;
  margin-bottom: 25px;
}

.col-5 h4 {
  color: #b52626;
}

/* Reviews */

.testimonial {
  padding-top: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
  background-color: #d45555;
  border-radius: 9px;
}

.testimonial .col-3 img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-15px);
}

.col-3 p {
  text-align: left;
  font-size: 14px;
  margin: 12px 0;
  color: #fff;
  line-height: 1.3;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #fff;
  font-size: 16px;
}

.row {
  display: flex;
  align-items: center;
}

/* Feature section */

.feature-section {
  padding: 2rem 0 8rem 0;
}

.feature-icon {
  color: #fff;
  height: 2.2rem;
  width: 2.2rem;
  background-color: #d45555;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 1.6rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.4rem;
  line-height: 1.2;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/*****************************/
/* CTA Section */
/*****************************/

.section-cta {
  /* top / right / bottom / left */
  /* padding: 9.6rem 0 12.8rem 0; */

  /* top / horizontal / left */
  padding: 0 0 10rem;
}

.cta {
  display: grid;
  /* 2/3 = 66.6% + 1/3 = 33.3% */
  grid-template-columns: 2fr 1fr;
  /* background-color: #a4a8ab; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #a4a8ab, #808589);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #112a46;
}

.cta .heading-CTA {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
  font-size: 2.6rem;
}

.cta-text {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;
}

.cta-image-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(164, 168, 171, 0.35),
      rgba(128, 133, 137, 0.35)
    ),
    url("img/CTA image.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.btn1 {
  display: inline-block;

  text-decoration: none;
  border-radius: 9px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original state */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--form {
  background-color: #112a46;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

/* FOOTER */

.footer {
  background: #212529;
  color: #fff5f5;
  font-size: 14px;
  padding: 60px 0 20px;
}
.row5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 25px;
}

.footer p {
  color: #fff0f6;
}

.footer .download {
  color: #c92a2a;
  margin-bottom: 52px;
}

.footer .useful-links {
  color: #c92a2a;
  margin-bottom: 60px;
}

.footer .follow-us {
  color: #c92a2a;
  margin-bottom: 32px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
  margin-left: 40px;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
  margin-left: 45px;
}

.footer-text {
  font-size: 11px;
  text-align: left;
  line-height: 1.2;
}

.footer-logo {
  width: 90px;
  margin-bottom: 15px;
  border-radius: 50%;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

ul li {
  line-height: 1.5;
}

.app-logo {
  margin-top: 12px;
}

.app-logo img {
  width: 110px;
  margin-top: 20px;
  cursor: pointer;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

.apps-logo {
  height: 24px;
  width: 24px;
}
